h1 {
    font-family: "Dancing Script";
    text-align: center;
    font-size: 60px;
    font-weight: normal;
    
}

.recipes-container {
    margin: 6% auto 0 auto;
    text-align: center; 
    
}

img {
    height: 300px;
    width: 420px;
    transition: 0.4s;
}

.recipe-box img:hover {
    opacity: 0.5;
    height: 320px;
    width: 440px;
}

h2 {
    font-family: Comfortaa, cursive;
    color: #B83B5E;
    font-size: 30px;
}

.recipes-container h2 {
    margin-bottom: 4%;
}

h3 {
    font-weight: normal;
    font-family: Comfortaa, cursive;
}

.recipe-box {
    display: inline-block;
    width: 500px;
}


